footer {
    background-color: beige;
    height: 200px;
    color: gray;
}
/* facebook */
.link-fb {
  background-color: blue;
  color: white;
  padding: 8px 16px 8px 14px;
  display: inline-block;
  margin-bottom: 32px;
}

.link-google {
  background-color: orange;
  color: white;
  padding: 12px 24px;

}
/* CSS Reset */
*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}

.box-1 {
    background: blue;
}

.box-1{
    background: blue;
}

.box-1{
background: blue;
width: 49%;
height: 200px;
display: inline-block;
color: white;
}
 
.container{
    width: 300px;
    background-color: black;
}

.box {
    background: tomato;
    width: 50vw;
}
